{% extends '_base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="templates/css/telaInicial.css" />
{% endblock %}

{% block conteudo %}
<section class="hero-section">
    <div class="hero-text">
        <h1>Encontre pessoas para serviços manuais</h1>
        <p>Conecte-se com profissionais para trabalhos manuais que você precisa</p>
        
        <div class="search-container">
            <input type="text" placeholder="Pesquisar por Serviço ou Pessoa">
            <button class="btn-busca">Buscar</button>
        </div>
    </div>
    
    <div class="hero-img-container">
        <img src="img/imagemPadrao.png" alt="Ilustração de serviço">
    </div>
</section>

<h2 class="titulo-vitrine">Profissionais Disponíveis</h2>

<div class="profissionais-grid">
    <div class="card-profissional">
        <div class="avatar-circular"><img src="img/miguel.png" alt="Miguel"></div>
        <h3>Miguel Augustinho</h3>
        <p>Programador</p>
        <div class="stars">★★★★★ <span>(52)</span></div>
        <button class="btn btn-salvar" style="width: 100%;">Ver Perfil</button>
    </div>

    <div class="card-profissional">
        <div class="avatar-circular"><img src="img/carlos.png" alt="Carlos"></div>
        <h3>Carlos Pinheiro</h3>
        <p>Faxineiro</p>
        <div class="stars">★★★★★ <span>(31)</span></div>
        <button class="btn btn-salvar" style="width: 100%;">Ver Perfil</button>
    </div>

    <div class="card-profissional">
        <div class="avatar-circular"><img src="img/joao.png" alt="João"></div>
        <h3>João dos Santos</h3>
        <p>Produtor</p>
        <div class="stars">★★★★★ <span>(35)</span></div>
        <button class="btn btn-salvar" style="width: 100%;">Ver Perfil</button>
    </div>

    <div class="card-profissional">
        <div class="avatar-circular"><img src="img/pedro.png" alt="Pedro"></div>
        <h3>Pedro da Silva</h3>
        <p>Cuidador de Idosos</p>
        <div class="stars">★★★★★ <span>(12)</span></div>
        <button class="btn btn-salvar" style="width: 100%;">Ver Perfil</button>
    </div>
</div>
{% endblock %}